// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/jumbotron";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/panels";
@import "bootstrap/responsive-embed";
@import "bootstrap/wells";
@import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

//Font Awesome
@import "variables";
@import "mixins";
@import "path";
@import "core";
@import "larger";  
@import "icons";


footer {
	background: $gray-light;
	//background: $brand-primary;
}
.next,
.prev {
	background-image: url(../images/master-sprite.png);
	height: 43px;
	width:42px;
	display:block;
	cursor: pointer;
	background-color: #000;
	@extend .hide-text;
}
.next {
	background-position: -352px 0;
}
.prev {
	background-position: -304px 0;
}
.hide-text {
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}
.recent-insta-posts {
	height: 150px;
	overflow: hidden;
	a {
		float: left;
		// display:block;
		// margin-right: 20px;
		// margin-bottom: 20px;
	}
}
.main{
	position: absolute;
	width: 660px;
	height: 350px;
	left: 50%;
	top: 50%;
	margin-top: -175px;
	margin-left: -330px;
	background-color: #fff;
	background-color: rgba(255,255,255,0.95);
	z-index: 999;
	@extend .hide-text;
	
}
.ebay-logo {
	@extend .hide-text;
	width:300px;
	height:120px;
	margin: 30px auto;
	background-image: url(../images/EBay_logo.png);
	background-image: url(../images/EBay_logo.svg), none;
}
.logo {
	@extend .hide-text;
	width: 306px;
	margin: 30px auto;
	height: 160px;
	background-image: url(../images/ajka-creations-logo.png);
	background-repeat: no-repeat;
}
.main-container {
	position: relative;
}
button.cross {
	position: absolute;
	right: 1em;
	top: 2%;
	width:auto;
	border:0 none;
	margin:0;
	padding:0;
	background:transparent;
	@extend .hide-text;
	span {
		height: 5px;
        width: 49px;
        margin: 0;
        background: red;
        display: #000;
        &:after {
            height: 5px;
            width: 49px;
            content: " ";
            display: block;
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);   
			transform: rotate(90deg);       
	        background: #000;
        }
	}
}
.spin-plus {
    display: block;
    padding:40px 0;
    &.animate span{
       -webkit-transform: rotate(180deg);   
    }
    &.animate span:after{
       -webkit-transform: rotate(180deg); 
    }
    span {
        height: 5px;
        width: 49px;
        margin: 0;
        background: red;
        -webkit-transition: all 0.8s ease;
        display: block;
        &:after {
            -webkit-transition: all 0.4s ease;
            height: 5px;
            width: 49px;
            content: " ";
            display: block;
         -webkit-transform: rotate(90deg);       
        background: red;
        }
    }
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
	/* Retina-specific stuff here */
	.next,
	.prev{
		background-size: 231px 76px;
	}
	.next {
		background-position: -43px 0 ;
	}
	.prev {
		background-position: 2px 0 ;
	}
	.main h1 {
		background-image: url(../images/ajka-creations-logo_2x.png);
		background-size: 306px 160px;
	}

}
@import 'superslides';